@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  --primary: #FFFFFF;
  --secundary: #92194F;
  --bgBlack: #121618;
  --whiteLighter: rgba(255, 255, 255, 0.7);
  --gray: gray;
  --grayMedium: #bfbfbf;
  --grayLighter: #cccccc;
  --blackLighter: rgba(255, 255, 255, 0.05);
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--primary);
}
